@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');


.header{
    font-family: 'Poppins', sans-serif; 
    
   .nav-link{
       color: $primary;
   }

    ul{
        li{ 
            margin-right: 2rem;
           
            a{
                color: red;
            }
        }
    }
}